.App {
  overflow: hidden;
}

.welcome-div {
  min-width: 500px;
  max-width: 800px;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcome-div > h2 {
  color: rgb(97, 140, 123);
  font-weight: 600;
}

.welcome-div > h3 {
  font-weight: 500;
}

.welcome-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
